.containers {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

.btn-wrap {
  padding: 1em 0 0.5em 0;
  display: flex;
  justify-content: flex-end;
}
.btn-wrap button {
  padding: 0.325em 0.875em;
  background-color: black;
  color: #fff;
}

.std-tbl {
  width: 100%;
}
.std-tbl .std-thead {
  font-weight: bold;
}
.std-tbl .std-thead th {
  background-color: antiquewhite;
  padding: 0.5em 0.75em;
  text-align: center;
}
.std-tbl .std-tbody td {
  padding: 0.5em 0.75em;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
